* {
    text-align: center;
    font-size: 75px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

p {
    font-size: 40px;
}

button {
    padding: 15px;
    margin: 10px;
    width: 400px;
}

.outputBox {
    border-style: solid;
    border-color: black;
    padding: 20px;
}

.playButtons {
    width: 1335px;
    height: auto;
}
